/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
dbreset.sh

*~

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# PhpStorm
.idea
/remote-medias/

# Bower
src/Oxhild/ApiBundle/Resources/public/vendor

#assetic
web/css
web/js

#sass-cache
src/Oxhild/ApiBundle/Resources/public/.sass-cache