<!DOCTYPE html>
<html>
    <head>
        {% include 'OxhildMtgBundle:Components:head.html.twig' %}
    </head>
    <body>
        {% include 'OxhildMtgBundle:Components:nav.html.twig' %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    {% block content %}
                        {% if app.user %}
                            Logged in as : {{ app.user.username }}
                        {% elseif not app.user %}
                            Not Logged in
                        {% endif %}
                    {% endblock %}
                </div>
                <div class="col-lg-3">
                    {{ render(controller('OxhildMtgBundle:Default:sidebar')) }}
                </div>
            </div>
        </div>
        {% block javascripts %}
            {% javascripts
            "@OxhildMtgBundle/Resources/public/js/*"
            "@OxhildMtgBundle/Resources/public/vendor/jquery/dist/jquery.min.js"
            "@OxhildMtgBundle/Resources/public/vendor/bootstrap/dist/js/bootstrap.min.js"
            "@OxhildMtgBundle/Resources/public/js/ajax.js"
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>