<!DOCTYPE html>
<html>
    <head>
        {% include 'OxhildMtgBundle:Components:head.html.twig' %}
    </head>
    <body>
        {% include 'OxhildMtgBundle:Components:nav.html.twig' %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}
            {% javascripts
            "@OxhildMtgBundle/Resources/public/js/*"
            "@OxhildMtgBundle/Resources/public/vendor/bootstrap/dist/js/bootstrap.min.js"
            "@OxhildMtgBundle/Resources/public/js/ajax.js"
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>