<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>{% block title %}Title here{% endblock %}</title>

            <meta name="description" content="Your Description">
            <meta name="viewport" content="user-scalable=yes,width=device-width,initial-scale=1">

            {% block stylesheets %}
            {% endblock %}

        {% endblock %}
        <!-- Place favicon.ico and apple-touch-icon.png in the web directory -->
    </head>
    <body>
        Hello World, this is doge
        {% block javascripts %}
            {% javascripts '@OxhildMtgBundle/Resources/public/js/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>