<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Title here</title>

        <meta name="description" content="Your Description">
        <meta name="viewport" content="user-scalable=yes,width=device-width,initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the web directory -->
    </head>
    <body>
        Hello World !
    </body>
</html>