{% extends "OxhildMtgBundle:Default:base.html.twig" %}
{% block content %}
    {% for card in cards %}
        <div class="col-lg-4">
            {{ render(controller('OxhildMtgBundle:CheckImage:checkImage', { 'multiverse': card.multiverseid })) }}
            <p>{{ card.name }}</p>
        </div>
    {% endfor %}
{% endblock  %}