{% extends "OxhildMtgBundle:Default:base.html.twig" %}
{% block content %}
    {% for binder in binders %}
        <div class="col-lg-4">
            <p>{{ binder.name }}</p>
            <p>{{ binder.description }}</p>
            {% if binder.private == false %}
                <p>Public</p>
            {% else %}
                <p>Private</p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock  %}